.button {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--green-dark);
  cursor: pointer;
  transition: all 0.3s;
  text-shadow: none;
  font-size: inherit;
  font-weight: 300;
  line-height: 1;
  letter-spacing: inherit;
  font-family: inherit;
  overflow: hidden;
  text-decoration: none!important;
}

.button svg {
  display: inline-block;
}

.small {
  font-size: 0.6rem;
  padding: 0.25rem 0.5rem;
}

.medium {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}

.large {
  padding: 1rem 2rem;
}

.secondary {
  color: var(--green-dark);
  background-color: transparent;
}

.primary {
  color: var(--foreground);
  background-color: var(--green-dark);
}

.danger {
  color: var(--foreground);
  background-color: var(--red);
  border-color: var(--red);
}

.button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all var(--animation-speed) ease;
  backdrop-filter: brightness(1.15);
}

.button:before {
  transform: translateY(-100%);
}

.button:hover:before {
  transform: translateX(0%);
}

.button:active {
  transform: scale(0.95);
} 