.button {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--green);
  cursor: pointer;
  transition: all 0.3s;
  text-shadow: none;
  font-size: inherit;
  font-weight: 300;
  line-height: inherit;
  letter-spacing: inherit;
  overflow: hidden;
  text-decoration: none!important;
}

.small {
  font-size: 0.6rem;
  padding: 0.25rem 0.5rem;
}

.medium {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}

.large {
  padding: 1rem 2rem;
}

.secondary {
  color: var(--foreground);
  background-color: transparent;
}

.primary {
  color: var(--foreground);
  background-color: var(--green);
}

.button:before, .button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid var(--green);
  transition: all 0.3s ease;
  backdrop-filter: brightness(1.15);
}

.button:after {
  transform: translateX(100%);
  bottom: 0;
}

.button:before {
  transform: translateX(-100%);
  top: 0;
}

.button:hover:before, .button:hover:after {
  transform: translateX(0);
}

.button:active {
  transform: scale(0.95);
}

.button:active:before {
  transform: translateX(100%);
}
.button:active:after {
  transform: translateX(-100%);
}