.small, .medium, .large {
  width: 100%;
}

.small {
  margin: 0.5rem auto;
}

.medium {
  margin: 1rem auto;
}

.large {
  margin: 2rem auto;
}

.small:last-child, .medium:last-child, .large:last-child {
  margin-bottom: 0;
}

.small:first-child, .medium:first-child, .large:first-child {
  margin-top: 0;
}

.left {
  text-align: left;
}

.right, .center {
  display: flex;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}