.card {
  background-color: var(--gray);
  border: 1px solid var(--green);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--background);
}

.title {
  padding: .5rem 1rem;
  margin: -1rem -1rem 1rem;
  background-color: var(--green);
  color: var(--foreground);
  text-align: center;
}

.small {
  padding: .5rem;
}

.medium {
  padding: 1rem;
}

.large {
  padding: 2rem;
}